body {
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  background: #f8f9fa;
  margin: 0;
  padding: 0;
}
.container-page {
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px;
}
